{% extends "base.html" %}

{% block title %}Random Question{% endblock %}

{% block header %}Random Question{% endblock %}

{% block content %}
    <h2>{{ question.question }}</h2>
    <p>Subject: {{ question.subject }}</p>
    <p>Use: {{ question.use }}</p>
    <p>Responses:</p>
    <ul>
        <li>A: {{ question.responseA }}</li>
        <li>B: {{ question.responseB }}</li>
        <li>C: {{ question.responseC }}</li>
        {% if question.responseD %}
            <li>D: {{ question.responseD }}</li>
        {% endif %}
    </ul>
    <p>Correct: {{ question.correct }}</p>
{% endblock %}